 <!-- The information here will be displayd in about section-->

<% provide(:title, "About") %>
<h1>About</h1>
<br>
  <p>
    <!-- editted-->
    <h2>
      Welcome to the Home of expert sports equipment.  <br><br>
      We are the only online store that supplies just the equipment that was chosen by experts <br><br>
      to be the best current equipment on the market.
      <a href="https://rails-tutorials-vadimmalakhovski.c9users.io/">SportPro</a><br><br>
      We are here to choose the best for you so you don't have to...<br><br>
    </h2>
</p>
<br>
<h1>More Information</h1>
<br>
  <p>
    <!-- editted-->
    <h2>
      We were inspired to open this store because of one realisation -<br><br>
      too many options on the market.<br><br> As a customer you want the most reliable, safe and beautiful<br>  <br>
      item that does not exeed it's price. Here we are offering just that.<br><br>
      Our team of experts have chosen the best equipment that <br>  <br>one can find on the market.<br><br>
      We supply the gym equipment world-widly for home use and gyms. <br><br>
    </h2>
  </p>
