<br><br><br><br><br>
<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p><br>
<p>Help sections should have all resources in one place.<br>  
If there is a forum, or there is a corresponding FAQ, <br>
I want access to those additional pages at any given point.  <br>
This can be achieved by having standard menus or toolbars that appear across sections.  <br>
Additionally, customer service contact information should be easy to find.   <br>
If the customer cannot find what they’re looking for, or if they don’t want to look to begin with, <br>
it should be easy for them to contact customer service.<br>

Our goal is to make Harvest as simple and intuitive as possible, <br>
but questions and suggestions inevitably arise, <br>
and our customers deserve a solid help section for those times.   <br>
This will be my main project in the coming month, <br>
and the new “Harvest Help” should be up-and-running later this fall. <br> 
In the meantime, feel free to leave your comments and suggestions on how <br>
I can make our help page more effective for you.</p> 
<br><br><br><br><br>
