<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>
<body>
    <p id="notice"><%= notice %></p>
    <h1>Listing Students for Parents (viwes/paretns/index.html.erb)</h1>
    
    <br/><br/>  
    <%= link_to 'Create New Filter Parent', new_lfilter_path %>
    <br/>
    <%=render 'layouts/lfilters'%>

</body>


